.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20232a;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
}

.logo {
  font-weight: bold;
}

.user button {
  background-color: white;
  color: #20232a;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}


